body {
  background-color: #fab975;
  text-align: center;
}

h1 {
  font-size: 50px;
}

a {
  display: inline;
  font-size: 20px;
  margin: 0 auto;
  padding: 15px;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 400%;
  padding: 50px;
}

p {
  font-size: 25px;
  padding: 20px;
}
